* {
}
.div1 {
    background-color: #9999CC;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    width: 500px;
    border-radius: 3px;
    padding: 25px;
    margin-left: 400px;
    margin-top: 30px;
}
.img1{
    border-radius: 100%;
}

.img-mxh{
    margin: 10px;
}

.info{
    background-color: antiquewhite;
}
